@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A Gym Tracking Site By <a href="https://harshbanjare.me">Harsh Banjare</a>.</p>
</div>
